.terraform/
.terraform*
*.log
*.exe
*.tfvars
terraform-provider-tencentcloud
terraform-provider-qcloud
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.lock.info
terraform_private.txt
terraform_public.txt